.player-panel {
    width: 150px;
    float: left;
    margin: 15px;
    text-align: center;
}

.player-panel .panel-body div:first-child {
    margin-left: 15px;
}

.container.game-container {
    max-width: 930px;
}

.spades{
    color: black;
}
.spades:after {
    content: '♠';
}

.clubs {
    color: black;
}
.clubs:after {
    content: '♣';
}

.diamonds{
    color: red;
}

.diamonds:after{
    content: '♦';
}
.hearts{
    color: red;
}

.hearts:after{
    content: '♥';
}

.card {
    float: left;
    margin-right: 5px;
    font-size: 30px;
    border-radius: 3px;
    border: 1px lightgrey solid;
    width: 40px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    background-color: white;
    line-height: 20px;
    opacity: 0.3;
}

.card:after {
    display:block;
}

.inline-card {
    border-radius: 3px;
    border: 1px lightgrey solid;
    background-color: white;
    padding:3px;
}

.active-card {
    opacity:1;
}

.pokertable {
    clear:both;
    background-color: #cdf5ca;
}

#community-cards {
}

#community-cards>div {
    margin-right: 10px;
    float:left;
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.right-container {
    float:right;
}

#pot {
    font-size: 25px;
    display:block;
}

#controls {
    margin-top: 10px;
}

#templates {
    display: none;
}

.dealer .panel-heading,
.dealer .panel-footer {
    background-color: #dde7fd;
}

.on-turn,
.on-turn  {
    border-color: indianred;
}

.message-container, #message {
    clear: both;
    text-align:center;
    width:100%;
}

#controls a.nav-button i {
    display: block;
    width:20px;
    height:20px;
    background-image: url('../img/buttons.png');
}

#controls a {
    display: inline-block;
    padding: 5px 5px;
    cursor: pointer;
    background-color: #5CB85C;
    border-radius: 0.25em;
    color: #FFFFFF;
    text-decoration: none;
}



#controls a.beginning-button i {
    background-position-x: 120px
}

#controls a.back-button i {
    background-position-x: 100px
}

#controls a.play-button i {
    background-position-x: 80px
}

#controls a.stop-button i {
    background-position-x: 20px
}

#controls a.next-button i {
    background-position-x: 60px
}

#controls a.end-button i {
    background-position-x: 40px
}

.player-name {
    margin-bottom: 5px;
}

#tweets {
    margin-left: 255px;
    margin-right: 180px;
    margin-bottom: 0px;
    height: 75px;
    overflow: hidden;
    padding: 5px;
    background-position: center;
    background-repeat: no-repeat;
}

.tweeter-profile-image {
    float:left;
    margin:5px;
}

.tweeter-username {
    color:red;
}

.tweet-text {
    margin-left: 60px;
}

#community-cards .card {
    margin-top: 7px;
}

.hashtag-big {
    text-align:center;
    margin:10px;
    font-size:30px;
}

.hashtag-big span{
    margin:20px;
    color:#66757f;
}