.container {
    margin:5px;
    width: 100%;
}

.game-container {
    background-color:#cdf5ca;
}

.controls {
    float:right;
}

.leader-boards {
    clear:both;
}

.leader-boards .board {
    margin-top: 10px;
    float:left;
    width: 430px;
    font-size: 20px;
}

.leader-boards .board p.version {
    float:right;
    margin-top: 0;
    font-size: 10px;
    text-align: right;
}

.leader-boards .board:first-of-type {
    margin-right:20px;
}

.leader-boards .panel {
    margin-bottom:2px;
    padding: 10px;
}

.leader-boards .panel.board-header {
    background-color: darkred;
    color:white;
}

.leader-points {
    float:right;
}