<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/master.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/bubbles.css" />

    <script src="js/lib/jquery/jquery-2.0.3.js"></script>
    <script src="js/lib/underscore-1.5.1.js"></script>
    <script src="js/lib/mustache.js"></script>
    <script>
        window.pokerEvents = {{{ game_json }}};
        window.tweets = {{{ tweets }}};
    </script>
    <script src="js/lib/main.js"></script>
</head>
<body>
<div class="container game-container">
    <div class="panel panel-body pokertable">
        <div id="community-cards">
            <div id="flop" class="clearfix">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <div id="turn">
                <div class="card"></div>
            </div>
            <div id="river">
                <div class="card"></div>
            </div>
        </div>
        <div id="pot">
            <span class="label label-success">Pot: <span id="pot-amount"></span> €</span>
        </div>
        <div id="controls">
            <a id="beginning-button" class="nav-button beginning-button" title='Beginning'><i></i></a>
            <a id="back-button" class="nav-button back-button" title='Back'><i></i></a>
            <a id="play-button" class="nav-button play-button" title='Play/Stop'><i></i></a>
            <a id="next-button" class="nav-button next-button" title='Next'><i></i></a>
            <a id="end-button" class="nav-button end-button" title='End'><i></i></a>
        </div>
    </div>

    <div id="player-container">
    </div>

    <div class="alert alert-info clearfix message-container">
        <h4 id="message"></h4>
    </div>
</div>



</body>
</html>