<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title></title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h2>New log files</h2>
            {{# log_files }}
            <h3><a href="/tournament?tournament_log={{ file }}">{{ file }}</a></h3>
            {{/log_files}}
            <h2>Previous events</h2>
            {{# previous_events }}
                <h3><a href="/tournament?tournament_log={{ file }}">{{ file }}</a></h3>
            {{/previous_events}}
        </div>

    </body>
</html>