<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/tournament.css"/>
    <script src="js/lib/jquery/jquery-2.0.3.js"></script>
    <script>
        $(document).ready(function() {
            $('.leader-boards').hide();
            $('.leader-boards').first().show();

            $('.game-container').click(function(event){
                $(event.target).find('.leader-boards').toggle();
            });

            if(window.location.hash){
                setTimeout(function(){
                    window.location.reload();
                }, 2000);
            }
        });
    </script>
</head>
<body>
<div class="container">
    {{#games}}
        <div class="panel panel-body game-container">
            <div class="controls"><a href='/game?game_log={{{ game_path }}}'>Show</a></div>
            <b>Winner:</b> {{{game_first}}},
            <b>Second:</b> {{{game_second}}},
            <b>Current leader:</b> {{{tournament_leader}}}

            <div class="leader-boards">
                <div class="board">
                    <div class="panel board-header">
                        <b>Game winners</b></div>
                    {{# game_places }}
                        <div class="panel">
                            {{{place}}}. <a href='/log?player_log={{{log_file}}}'>{{{name}}}</a> <p class="version">{{{version}}}<br/>{{{commit}}}</p></div>
                    {{/ game_places}}
                </div>
                <div class="board">
                    <div class="panel board-header">
                        <b>Tournament leaders</b></div>
                    {{# tournament_leader_board }}
                        <div class="panel">{{{name}}} <b class="leader-points">{{{points}}}</b></div>
                    {{/ tournament_leader_board }}
                </div>
            </div>
        </div>
    {{/games}}
</div>
</body>
</html>