<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title></title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h2>New log files</h2>
            {{# log_files }}
            <h3><a href="/tournament?tournament_log={{ file }}">{{ file }}</a>
                <small>
                    <a href="/tournament?tournament_log={{ file }}&auto_play=1">[Auto refresh]</a>
                    <a href="/tournament_chart?tournament_log={{ file }}">[Chart]</a>
                    <a href="/tournament_chart?tournament_log={{ file }}&auto_play=1">[Chart auto refresh]</a>
                </small>
            </h3>
            {{/log_files}}
        </div>

    </body>
</html>